body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  border-bottom: 2px solid #aff9bf;
  width: 100%;
  height: 80px;
  box-shadow: 0px 2px 5px #9dcfa8;
  justify-content: space-between;
}

.header_logo{
  width: 80px;
  height:80px;
  background-image: url('../public/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header_navbar{
  width: 50%;
  display: flex;
}
